<div>
    <strong class="error">{{ error }}</strong>
    <strong ng-show="loading">loading...</strong>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Supplier</th>
                <th>Invoice Date</th>
                <th>Delivery Date</th>
                <th>Total Ex</th>
            </tr>
        </thead>
        <tr ng-repeat="invoice in invoices">
            <td>
                {{ invoice.invoiceNumber }}
            </td>
            <td>
                {{ invoice.supplier }}
            </td>
            <td>
                {{ invoice.invoiceDate | date }}
            </td>
            <td>
                {{ invoice.deliveryDate | date }}
            </td>
            <td>
                {{ invoice.totalEx | currency }}
            </td>
            <td>
                <a href="#/invoice/{{ invoice.id }}">View</a>
            </td>

        </tr>
    </table>
    <div class="row">
        <a href="#/invoice/0">New</a>
    </div>
</div>