<script type="text/ng-template" id="customSalesItemTemplate.html">
    <a>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script>
<form name="invoiceForm" ng-submit="submitAll()" novalidate>
    <div>
        <div class="row">
            <div class="col-md-4">
                <label class="col-sm-6 control-label">Invoice Number</label>
                <p class="input-group">
                    <input type="text" name="invoiceNumberControl" class="form-control" ng-model="invoice.invoiceNumber" />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="col-sm-6 control-label">Supplier</label>
                <p class="input-group">
                    <input type="text"
                           ng-model="invoice.supplier"
                           placeholder="Supplier..."
                           typeahead="supplier.name for supplier in suppliers | filter:invoice.supplier"
                           class="form-control"
                           required />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="col-sm-6 control-label">Invoice Date</label>
                <p class="input-group">
                    <input type="text"
                           class="form-control"
                           ng-model="invoice.invoiceDate"
                           datepicker-popup="{{format}}"
                           is-open="openedInvoiceDate"
                           datepicker-options="dateOptions"
                           ng-required="true"
                           close-text="Close"
                           ng-change="setDeliveryDate()" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openInvoiceDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="col-sm-6 control-label">Delivery Date</label>
                <p class="input-group">
                    <input type="text"
                           class="form-control"
                           ng-model="invoice.deliveryDate"
                           datepicker-popup="{{format}}"
                           is-open="openedDeliveryDate"
                           datepicker-options="dateOptions"
                           ng-required="true"
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDeliveryDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="hidden">LineId</th>
                        <th class="hidden">Sales Item Id</th>
                        <th>Sales Item</th>
                        <th>Quantity</th>
                        <th>Amount Ex</th>
                        <th>Amount Inc</th>
                    </tr>
                </thead>
                <tr ng-repeat="line in invoice.invoiceLines" ng-form="subForm" ng-controller="InvoiceLineController">
                    <td class="hidden">
                        {{ line.id }}
                    </td>
                    <td class="hidden">
                        {{ line.salesItemId }}
                    </td>
                    <td>
                        <input type="text"
                               ng-model="line.salesItemDescription"
                               placeholder="Sales Item"
                               typeahead="salesItem.Value for salesItem in getSalesItem($viewValue)"
                               typeahead-loading="loadingSalesItems"
                               typeahead-template-url="customSalesItemTemplate.html"
                               typeahead-on-select="onSelect($item, $model, $label)"
                               class="form-control"
                               focus-me
                               required />
                    </td>
                    <td class="col-sm-1">
                        <input class="form-control" type="number" required name="quantity" ng-model="line.quantity" ng-change="checkQuantity()" required />
                    </td>
                    <td class="col-sm-1">
                        <input class="form-control" type="number" required name="amountEx" ng-model="line.invoicedAmountEx" />
                    </td>
                    <td class="col-sm-1">
                        <input class="form-control" type="number" required name="amountInc" ng-model="line.invoicedAmountInc" />
                    </td>
                    <td>
                        <a ng-click="newLine()" href="javascript:;">New</a>
                    </td>
                </tr>
            </table>
        </div>
        <div><button ng-disabled="invoiceForm.$invalid" class="btn btn-primary" type="submit" id="submitButton">Submit</button></div>
    </div>
</form>
