<div>
    <h2><small>Invoices</small></h2>
    <strong class="error">{{ error }}</strong>
    <strong ng-show="loading">loading...</strong>
    <div class="row">
        <span class="col-md-2"><input class="form-control" ng-model="searchText" placeholder="filter..." /></span>
        <span class="col-md-2"><a href="#/invoice/0">New</a></span>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Supplier</th>
                <th>Invoice Date</th>
                <th>Delivery Date</th>
                <th>Total Ex</th>
            </tr>
        </thead>
        <tr ng-repeat="invoice in invoices | filter:searchText | orderBy:predicate">
            <td>
                {{ invoice.invoiceNumber }}
            </td>
            <td>
                {{ invoice.supplier }}
            </td>
            <td>
                {{ invoice.invoiceDate | date }}
            </td>
            <td>
                {{ invoice.deliveryDate | date }}
            </td>
            <td>
                {{ invoice.totalEx | currency }}
            </td>
            <td>
                <a href="#/invoice/{{ invoice.id }}">View</a>
            </td>

        </tr>
    </table>
    <pagination total-items="totalItems" ng-model="currentPage" max-size="10" boundary-links="true" num-pages="pageCount" rotate="false" ng-change="pageChanged()"></pagination>
</div>