<form name="periodForm" ng-controller="PeriodController" ng-submit="submitAll()" novalidate>
    <strong class="error">{{ error }}</strong>
    <strong ng-show="loading">loading...</strong>
    <div class="row">
        <div class="col-md-4">
            <label class="col-sm-6 control-label">Name</label>
            <strong ng-hide="editMode">{{ period.Name }}</strong>
            <p class="input-group">
                <input ng-show="editMode"
                       class="form-control"
                       type="text"
                       ng-model="period.Name" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="col-sm-6 control-label">Start Date</label>
            <strong ng-hide="editMode">{{ period.StartOfPeriod | date }}</strong>
            <p class="input-group">
                <input ng-show="editMode"
                       class="form-control"
                       type="text"
                       ng-model="period.StartOfPeriod"
                       datepicker-popup="{{format}}"
                       is-open="openedStart"
                       datepicker-options="dateOptions"
                       ng-required="true"
                       close-text="Close" />
                <span class="input-group-btn" ng-show="editMode">
                    <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="col-sm-6 control-label">End Date</label>
            <strong ng-hide="editMode">{{ period.EndOfPeriod | date }}</strong>
            <p class="input-group">
                <input ng-show="editMode"
                       class="form-control"
                       type="text"
                       ng-model="period.EndOfPeriod"
                       datepicker-popup="{{format}}"
                       is-open="openedEnd"
                       datepicker-options="dateOptions"
                       ng-required="true"
                       close-text="Close" />
                <span class="input-group-btn" ng-show="editMode">
                    <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ledger Code</th>
                <th>Product</th>
                <th>Container</th>
                <th>Opening</th>
                <th>Received</th>
                <th>Closing</th>
                <th>Sales Qty</th>
            </tr>
        </thead>
        <tr ng-repeat="item in period.Items | orderBy:predicate" ng-form="subForm">
            <td>{{ item.SalesItemLedgerCode }}</td>
            <td>{{ item.SalesItemName }}</td>
            <td>{{ item.Container }}</td>
            <td class="col-sm-1">
                <span ng-hide="editMode">{{ item.OpeningStock }}</span>
                <input ng-show="editMode" class="form-control" type="number" required name="openingStock" ng-model="item.OpeningStock" />
                <span class="alert" ng-show="subForm.openingStock.$error.number">Must be numeric!</span>
            </td>
            <td>{{ item.ItemsReceived }}</td>
            <td class="col-sm-1">
                <span ng-hide="editMode">{{ item.ClosingStock }}</span>
                <input ng-show="editMode" class="form-control" type="number" required name="closingStock" ng-model="item.ClosingStock" />
                <span class="alert" ng-show="subForm.closingStock.$error.number">Must be numeric!</span>
            </td>
            <td>{{ item.SalesQty }}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-2">
            <a ng-click="toggleEdit()" href="javascript:;">Edit</a>
        </div>
        <div class="col-md-2">
            <a ng-show="editMode" ng-click="save()" href="javascript:;">Save</a>
        </div>
        <div class="col-md-2">
            <a href="#/goods-in/{{ period.Id}}">Goods In</a>
        </div>
    </div>
</form>
