<div>
    <strong class="error">{{ error }}</strong>
    <strong ng-show="loading">loading...</strong>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Sales Ex</th>
                <th>Closing Value @ cost Ex</th>
            </tr>
        </thead>
        <tr ng-repeat="period in periods">
            <td>
                <strong>{{ period.name }}</strong>
            </td>
            <td>
                {{ period.startOfPeriod | date }}
            </td>
            <td>
                {{ period.endOfPeriod | date }}
            </td>
            <td>
                {{ period.salesEx | currency}}
            </td>
            <td>
                {{ period.closingValueCostEx | currency}}
            </td>
            <td>
                <a href="#/period/{{ period.id }}">View</a>
            </td>
            <td>
                <a href="#/period/init-from/{{ period.id }}">Clone</a>
            </td>
            <td>
                <a href="#/period/init-clean/{{ period.id }}">Clean Clone</a>
            </td>
        </tr>
    </table>
</div>