<div>
    <strong class="error">{{ error }}</strong>
    <strong ng-show="loading">loading...</strong>
    <div ng-repeat="period in periods">
        <strong ng-hide="editMode">{{ period.Name }}</strong>
        <input ng-show="editMode" type="text" ng-model="period.Name" />
        <span ng-hide="editMode">{{ period.StartOfPeriod | date }}</span>
        <span ng-hide="editMode">{{ period.EndOfPeriod | date }}</span>
    </div>
    <div ng-show="periods.length > 0">
        <a ng-click="toggleEdit()" href="javascript:;">Edit</a>
        <a ng-click="save()" href="javascript:;">Save</a>
    </div>
</div>