<div>
    <strong class="error">{{ error }}</strong>
    <strong ng-show="loading">loading...</strong>
    <div>
        <label>Ledger Code</label>
        <strong ng-hide="editMode">{{ salesitem.LedgerCode }}</strong>
        <input ng-show="editMode" type="text" ng-model="salesitem.LedgerCode" />
    </div>
    <div>
        <label>Product Name</label>
        <strong ng-hide="editMode">{{ salesitem.Name }}</strong>
        <input ng-show="editMode" type="text" ng-model="salesitem.Name" />
    </div>
    <div>
        <label>Container Size</label>
        <strong ng-hide="editMode">{{ salesitem.ContainerSize }}</strong>
        <input ng-show="editMode" type="text" ng-model="salesitem.ContainerSize" />
    </div>
    <div>
        <label>Units per Container</label>
        <strong ng-hide="editMode">{{ salesitem.SalesUnitsPerContainerUnit }}</strong>
        <input ng-show="editMode" type="text" ng-model="salesitem.SalesUnitsPerContainerUnit" />
    </div>
    <div>
        <label>Cost per Container</label>
        <strong ng-hide="editMode">{{ salesitem.CostPerContainer | currency }}</strong>
        <input ng-show="editMode" type="text" ng-model="salesitem.CostPerContainer" />
    </div>
    <div>
        <label>Cost per Unit</label>
        <strong>{{ salesitem.CostPerUnitOfSale | currency }}</strong>
    </div>
    <div>
        <label>Sales Price</label>
        <strong ng-hide="editMode">{{ salesitem.SalesPrice | currency }}</strong>
        <input ng-show="editMode" type="text" ng-model="salesitem.SalesPrice" />
    </div>
    <div>
        <label>Mark Up</label>
        <strong>{{ salesitem.MarkUp | currency }}</strong>
    </div>
    <div>
        <label>Ideal GP</label>
        <strong>{{ idealGPpc }}%</strong>
    </div>
    <div>
        <label>Tax Rate</label>
        <strong ng-hide="editMode">{{ taxRatepc }}%</strong>
        <input ng-show="editMode" type="text" ng-model="salesitem.TaxRate" />
    </div>
    <div>
        <label>Ullage per Container</label>
        <strong ng-hide="editMode">{{ salesitem.UllagePerContainer }}</strong>
        <input ng-show="editMode" type="text" ng-model="salesitem.UllagePerContainer" />
    </div>

    <div>
        <a ng-click="toggleEdit()" href="javascript:;">Edit</a>
        <a ng-click="save()" href="javascript:;">Save</a>
    </div>
</div>