<!DOCTYPE html>
<html ng-app>
<head>
    <title>Sales Items</title>
    <script src="../Scripts/angular.min.js"></script>
</head>
<body>
    <script src="../Scripts/SalesItemsController.js"></script>
    <div ng-controller="SalesItemsController">
        <strong class="error">{{ error }}</strong>
        <strong ng-show="loading">loading...</strong>
        <table>
            <tr ng-repeat="salesitem in salesitems | orderBy: 'Name' | orderBy: 'LedgerCode'">
                <td>{{ salesitem.LedgerCode }}</td>
                <td>{{ salesitem.Name }}</td>
                <td>{{ salesitem.ContainerSize }}</td>
                <td>{{ salesitem.CostPerContainer }}</td>
                <td>{{ salesitem.SalesPrice }}</td>
                <td><a href="salesitem.html">View</a></td>
            </tr>
        </table>
    </div>
</body>
</html>
