<div>
    <strong class="error">{{ error }}</strong>
    <strong ng-show="loading">loading...</strong>
    <div class="row">
        <label class="col-sm-2 control-label">Ledger Code</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.LedgerCode }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.LedgerCode" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Product Name</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.Name }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.Name" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Container Size</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.ContainerSize }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.ContainerSize" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Units per Container</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.SalesUnitsPerContainerUnit }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.SalesUnitsPerContainerUnit" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Cost per Container</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.CostPerContainer | currency }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.CostPerContainer" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Cost per Unit</label>
        <strong class="col-md-6">{{ salesitem.CostPerUnitOfSale | currency }}</strong>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Sales Price</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.SalesPrice | currency }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.SalesPrice" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Mark Up</label>
        <strong class="col-md-6">{{ salesitem.MarkUp | currency }}</strong>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Ideal GP</label>
        <strong class="col-md-6">{{ idealGPpc }}%</strong>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Tax Rate</label>
        <strong class="col-md-6" ng-hide="editMode">{{ taxRatepc }}%</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="taxRatepc" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Ullage per Container</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.UllagePerContainer }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.UllagePerContainer" />
    </div>

    <div class="row">
        <div class="col-md-2"><a ng-click="toggleEdit()" href="javascript:;">Edit</a></div>
        <div class="col-md-2"><a ng-click="save()" href="javascript:;" ng-show="editMode">Save</a></div>  
    </div>
</div>