<div>
    <strong class="error">{{ error }}</strong>
    <strong ng-show="loading">loading...</strong>
    <div class="row">
        <label class="col-sm-2 control-label">Ledger Code</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.ledgerCode }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.ledgerCode" focus-me />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Product Name</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.name }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.name" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Container Size</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.containerSize }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.containerSize" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Units per Container</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.salesUnitsPerContainerUnit }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.salesUnitsPerContainerUnit" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Cost per Container</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.costPerContainer | currency }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.costPerContainer" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Cost per Unit</label>
        <strong class="col-md-6">{{ salesitem.costPerUnitOfSale | currency }}</strong>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Sales Price</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.salesPrice | currency }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.salesPrice" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Mark Up</label>
        <strong class="col-md-6">{{ salesitem.markUp | currency }}</strong>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Ideal GP</label>
        <strong class="col-md-6">{{ idealGPpc }}%</strong>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Tax Rate</label>
        <strong class="col-md-6" ng-hide="editMode">{{ taxRatepc }}%</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="taxRatepc" />
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Ullage per Container</label>
        <strong class="col-md-6" ng-hide="editMode">{{ salesitem.ullagePerContainer }}</strong>
        <input ng-show="editMode" type="text" class="form-control" ng-model="salesitem.ullagePerContainer" />
    </div>

    <div class="row">
        <div class="col-md-2"><a ng-click="toggleEdit()" href="javascript:;">Edit</a></div>
        <div class="col-md-2"><a ng-click="save()" href="javascript:;" ng-show="editMode">Save</a></div>  
    </div>
</div>